.mat-toolbar
  width: 100% !important
  display: flex !important
  justify-content: space-between !important
  background-color: inherit !important
  align-items: center !important

.header-title
  margin-left: 1rem
