<div class="auth">
  <mat-card class="auth__card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div class="auth__form">
          <app-input [formControl]="userName" [placeholder]="'Username'"></app-input>
          <app-input (onInput)="passwordValidation()" [formControl]="password" [onInputEmit]="true"
                     [placeholder]="'Password'"
                     [type]="'password'"></app-input>
          <div class="auth__form__c-btn">
            <button (click)="onRegister()" color="primary" mat-raised-button
                    type="submit">Register
            </button>
            <button (click)="onSubmit(loginForm.value)" [disabled]="!loginForm.valid" mat-raised-button
                    type="submit">Access
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
