<div>
  <mat-form-field>
    <mat-label *ngIf="placeholder !== ''">
      {{ placeholder }}
    </mat-label>
    <input (input)="onInputFunc()"
           [attr.disabled]="disabled ? true : null" [formControl]="formControl"
           [ngClass]="isTouched && errorMessage ? 'c-form-group__text-danger' : 'c-form-group__text'"
           [placeholder]="placeholder" [type]="type" matInput>
    <mat-error *ngIf="isTouched && errorMessage" class="c-form-group__error">{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>
