<div class="management">
  <h2 class="management__title" mat-dialog-title>{{ title }}</h2>
  <mat-dialog-content>
    <form [formGroup]="managementForm">
      <div class="management__form">
        <div class="col">
          <app-input [formControl]="userName" [placeholder]="'UserName'"></app-input>
          <app-input [formControl]="email" [placeholder]="'Email'"></app-input>
        </div>
        <div class="col">
          @if (!userId) {
            <app-input (onInput)="passwordValidation()" [formControl]="password" [onInputEmit]="true"
                       [placeholder]="'Password'"
                       [type]="'password'"></app-input>
            <app-input (onInput)="passwordValidation()" [formControl]="confirmPassword" [onInputEmit]="true"
                       [placeholder]="'ConfirmPassword'" [type]="'password'"></app-input>
          }
          <app-input [formControl]="rolesId" [inputType]="InputType.Select" [placeholder]="'Role'"
                     [selectOptions]="rolesList">

          </app-input>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="management__actions">
    <button (click)="onClose()" mat-raised-button>Close</button>
    <button (click)="onSubmit(managementForm.value)" [disabled]="!managementForm.valid" cdkFocusInitial color="primary"
            mat-raised-button>
      Submit
    </button>
  </mat-dialog-actions>
</div>

